/* header  */

.nav-first {
    background-color: #000000;
}

.logo {
    margin-right: auto;
}

.nav-first .form-search--adaptive {
    display: none;
}

.nav-first__content {
    min-height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    white-space: nowrap;
}

.burger {
    display: none;
    width: 36px;
    height: 28px;
    cursor: pointer;
    background-color: transparent;
    border: none;
    position: relative;
}


.burger::before,
.burger::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 3px;
    background-color: var(--color-white);
}

.burger::after {
    top: auto;
    width: 60%;
    bottom: 0;
}

.burger span {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 75%;
    height: 3px;
    background-color: var(--color-white);
}



.form-search--adaptive {
    display: flex;
}

.form-search--adaptive.is-active {
    padding-bottom: 6px;
    padding-top: 6px;
    max-height: 30px;
    background: #18171B;
}

.form-search__adaptive-input {
    display: none;
}

.form-search__adaptive-input.is-active {
    display: block;
    min-width: 223px;
}

.form-search__close.close {
    display: none;
}


.nav-first__content .form-search__btn {
    display: none;
}

.nav-first__list {
    display: flex;
    margin: 0 20px;
}

.nav-first__item {
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
}

.nav-first__item a {
    transition-property: color;
    transition-duration: .2s;
    transition-timing-function: ease-in-out;
}

.nav-first__item a:hover {
    color: #C283F3;
}

.nav-first__item a:focus {
    outline: 2px solid #7943A4;
}

.nav-first__item a:active {
    color: #7943A4;
    outline: none;
}

.nav-first__item:not(:last-child) {
    margin-right: 62px;
}

.nav-first__btn {
    font-size: 18px;
    line-height: 24px;
    margin-left: 259px;
    transition-property: color;
    transition-duration: 0.05s;
    transition-timing-function: ease-in-out;
}

.nav-first__btn:focus {
    outline: 2px solid #7943A4;
}

.nav-first__btn:hover {
    color: #C283F3;
}

.nav-first__btn:hover path {
    fill: #C283F3;
}

.nav-first__btn:active {
    color: #9D5CD0;
    outline: none;
}

.nav-first__btn:active path {
    fill: #9D5CD0;
}

.nav-second {
    background-color: rgba(0, 0, 0, 0.4);
}

.nav-second__content {
    min-height: 70px;
    display: flex;
    align-items: center;
}

.nav-second__list {
    display: flex;
    white-space: nowrap;
}

.nav-second__item {
    position: relative;
    font-size: 18px;
}

.nav-second__item:last-child {
    margin-right: 20px;
}

.nav-second__item:not(:last-child) {
    margin-right: 97px;
}

.nav-second__link {
    transition-property: color;
    transition-duration: .3s;
    transition-timing-function: ease-in-out;
}

.nav-second__link::after {
    content: '';
    height: 7.07px;
    width: 7.07px;
    background-image: url(../img/png/strelkavniz.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: inline-block;
    margin-left: 3px;
    margin-bottom: 2px;
    padding-right: 5px;
    transition: transform 0.3s;
}

.nav-second__link:active::after,
.nav-second__link:hover::after {
    transform: rotate(180deg);
    transition: all 0.3s;
}

.nav-second__link:hover::after {
    background-image: url(../img/png/strelkavnizpurple.png);
    background-position: bottom;
}

.nav-second__link:focus {
    outline: 2px solid #7943A4;
}

.nav-second__link:hover {
    color: #9D5CD0;
}

.nav-second__link:active {
    color: #7943A4;
    outline: none;
}

.dropdown {
    position: absolute;
    left: 0;
    top: 51px;
    width: 300px;
    display: block;
    background-color: rgba(0, 0, 0, 0.6);
}

.dropdown__item {
    margin-bottom: 20px;
    margin-left: 40px;
    margin-right: 40px;
    padding: 8px 10px;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
}

.dropdown__item:first-child {
    margin-top: 40px;
}

.dropdown__item:nth-child(4n) {
    margin-bottom: 40px;
}

.dropdown__image {
    position: relative;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border: 2px solid transparent;
}

.dropdown__image:after {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    display: block;
    left: 0;
    top: 0;
}

.dropdown__image:active:after {
    background: rgba(194, 131, 243, 0.4);
}

.dropdown__image:hover {
    cursor: pointer;
    border: 2px solid var(--color-purple);
}


.dropdown__image--tintoretto {
    background-image: url(../img/jpg/menuimages/tintoretto.jpg);
}

.dropdown__image--fridrich {
    background-image: url(../img/jpg/menuimages/fridrich.jpg);
}

.dropdown__image--leonardo {
    background-image: url(../img/jpg/menuimages/leonardo.jpg);
}

.dropdown__image--verrocchio {
    background-image: url(../img/jpg/menuimages/verrocchio.jpg);
}

.dropdown__image--mone {
    background-image: url(../img/jpg/menuimages/mone.jpg);
}

.dropdown__image--sisley {
    background-image: url(../img/jpg/menuimages/sisley.jpg);
}

.dropdown__image--mane {
    background-image: url(../img/jpg/menuimages/mane.jpg);
}

.dropdown__image--renoir {
    background-image: url(../img/jpg/menuimages/renoir.jpg);
}

.dropdown__image--vangog {
    background-image: url(../img/jpg/menuimages/vangog.jpg);
}

.dropdown__image--sezann {
    background-image: url(../img/jpg/menuimages/sezann.jpg);
}

.dropdown__image--gogen {
    background-image: url(../img/jpg/menuimages/gogen.jpg);
}

.dropdown__image--sera {
    background-image: url(../img/jpg/menuimages/sera.jpg);
}

.dropdown__image--kandinskiy {
    background-image: url(../img/jpg/menuimages/kandinskiy.jpg);
}

.dropdown__image--marinetty {
    background-image: url(../img/jpg/menuimages/marinetty.jpg);
}

.dropdown__image--malevich {
    background-image: url(../img/jpg/menuimages/malevich.jpg);
}

.dropdown__image--picasso {
    background-image: url(../img/jpg/menuimages/picasso.jpg);
}

.dropdown__image--karra {
    background-image: url(../img/jpg/menuimages/karra.jpg);
}

.dropdown__image--pratella {
    background-image: url(../img/jpg/menuimages/pratella.jpg);
}

.dropdown__image--severini {
    background-image: url(../img/jpg/menuimages/severini.jpg);
}

.dropdown__image--balla {
    background-image: url(../img/jpg/menuimages/balla.jpg);
}

.form-search {
    display: flex;
    align-items: center;
    margin-left: auto;
}

.form-search__btn {
    padding: 6px;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.form-search__btn:focus {
    outline: 2px solid #7943A4;
}

.form-search__input {
    min-width: 218px;
    margin-left: 3px;
    padding-bottom: 3px;
    border: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.85);
    background: transparent;
    color: #C283F3;
}

.form-search__input,
.form-search__icon path,
.form-search__icon rect {
    transition-property: fill, border;
    transition-duration: .3s;
    transition-timing-function: ease-in-out;
}

.form-search__input::placeholder {
    color: var(--color-white);
    font-size: 18px;
}

.form-search__input:focus {
    outline: 2px solid #7943A4;
}

.form-search__input:hover {
    border-bottom: 1px solid #C283F3;
}

.form-search__input:active {
    border-bottom: 1px solid white;
}

.form-search:hover .form-search__icon path,
.form-search:hover .form-search__icon rect {
    fill: #C283F3;
}


/* scroll */



.dropdown-scroll {
    width: 300px;
    height: 300px;
    display: none;
}

.dropdown-scroll.is-active {
    display: block;
}

.nav-second__item:hover .dropdown-scroll,
.nav-second__item:active .dropdown-scroll {
    display: block;
}

.simplebar-track.simplebar-vertical {
    background-color: black;
    top: 40px;
    width: 2px;
    height: 220px;
    margin-right: 19px;
}


.simplebar-scrollbar:before {
    background: #9D5CD0;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    opacity: 1;
    border-radius: 0;
    height: 28px;
  }

.simplebar-track.simplebar-vertical .simplebar-scrollbar:before {
    top: 0;
}

.simplebar-scrollbar.simplebar-visible::before {
    opacity: 1;
}

/* scroll */


/* menu */

.menu {
    position: absolute;
    padding-top: 30px;
    z-index: 10;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 768px;
    background: rgba(0, 0, 0, 0.9);
    transition: transform .3s ease-in-out;
    transform: translateX(-101%);
    box-sizing: border-box;
}

.menu.is-active {
    transform: none;
}

.menu.close {
    transition: transform .3s ease-in-out;
    transform: translateX(-101%);
}

.close {
    position: relative;
    padding: 20px 20px 20px 15px;
    margin-bottom: 30px;
    background: transparent;
    border: none;
}

.close:before,
.close:after {
    content: ' ';
    position: absolute;
    top: 0;
    height: 100%;
    width: 3px;
    background-color: var(--color-white);
}

.close:before {
    transform: rotate(45deg);
}

.close:after {
    transform: rotate(-45deg);
}

.menu__list {
    margin-bottom: 123px;
    color: var(--color-white);
    line-height: 64px;
    font-weight: 600;
    font-size: 24px;
}

.menu__btn {
    display: inline-block;
    padding: 20px 88px;
    border: 2px solid #9D5CD0;
    border-radius: 100px;
    font-size: 18px;
    line-height: 24px;
}


/* menu */

@media (max-width:1800px) {

    .nav-first__btn {
        margin-left: auto;
    }

    .form-search__input {
        min-width: 180px;
    }

}

@media (max-width:1600px) {

    .nav-second__item:not(:last-child) {
        margin-right: 30px;
    }
}

@media (max-width:1520px) {

    .nav-first__item:not(:last-child) {
        margin-right: 20px;
    }

    .nav-second__item {
        font-size: 15px;
    }
}

@media (max-width:1270px) {

    .nav-first__item {
        font-size: 16px;
    }

    .nav-second__item {
        font-size: 16px;
    }

     .nav-second__item:last-child {
        margin-right: 4px;
    }

     .nav-second__item:not(:last-child) {
        margin-right: 15px;
    }

    .form-search__input {
        margin-left: 0;
    }
}

@media (min-width:1025px) {
    .menu {
        display: none;
    }
}

@media (max-width:1024px) {

    .logo {
        margin-right: 0;
    }

    .burger {
        display: block;
        margin-right: auto;
    }

    .form-search__input:focus {
        outline: none;
    }

    .nav-first__content .form-search__btn {
        display: block;
    }

    .nav-first__list {
        display: none;
    }

    .nav-first__btn {
        display: none;
    }

    .nav-second {
        display: none;
    }

    .nav-first .form-search--adaptive {
        display: flex;
    }

    .form-search__input:hover {
        border-bottom: 1px solid rgba(255, 255, 255, 0.85);
    }

    .form-search:hover .form-search__icon path,
    .form-search:hover .form-search__icon rect {
        fill: #fff;
    }
}

@media (max-width:768px) {

    .logo {
        margin: 0 20px;
    }

    .burger.is-close {
        display: none;
    }

    .burger.is-active {
        display: block;
    }

    .form-search--adaptive.is-active {
        background: none;
        width: 100%;
    }

    .form-search__close.is-active {
        display: block;

    }

    .form-search__close.close {
        padding: 14.5px;
        margin-bottom: 0;
        margin-left: 23px;
    }

    .form-search.is-close {
        display: none;
    }

    .form-search__adaptive-input.is-active {
        width: 100%;
    }

    .logo.is-close {
        display: none;
    }
}

@media (max-width:320px) {

    .burger::before,
    .burger::after {
        height: 2px;
    }

    .burger span {
        height: 2px;
    }

    .burger {
        width: 20px;
        height: 15px;
    }

    .menu {
        padding-top: 0;
        height: 355px;
    }

    .close {
        margin-bottom: 20px;
        padding: 7.5px 7.5px 7.5px 6px;
    }

    .menu__list {
        margin-bottom: 18px;
        font-size: 16px;
        line-height: 32px;
    }

    .menu__btn {
        padding: 10px 30px;
        font-size: 12px;
        line-height: 16px;
    }

    .menu__btn svg {
        width: 9px;
        height: 9px;
    }

    .form-search--adaptive.is-active {
        margin-left: 35px;
        margin-top: 30px;
    }


    .form-search__adaptive-input.is-active {
        max-width: 180px;
        min-width: 0;
    }

    .form-search__close.close {
        padding: 7.5px;
        margin-left: auto;
        margin-bottom: 50px;
    }

    .close:before,
    .close:after {
        width: 2px;
    }

    .nav-first__content {
        min-height: 45px;
    }

    .nav-first.is-active {
        background: rgba(0, 0, 0, 0.25);
        min-height: 75px;
    }

    .form-search__icon {
        width: 16px;
        height: 16px;
    }
}
